.card-accion {
  height: 100%;

  ion-item {
    height: 100%;
    align-items: center;
  }

  ion-card-header {
    flex: 1;
  }

  .img-sticker {
    width: 160px;
    height: 160px;
    object-fit: contain;
    flex-shrink: 0;
  }
}