<ion-header>
  <app-header [mostrarBackButton]="true"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        <h1>Enviar una solicitud de soporte</h1>
      </ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <p>
        Estamos aquí para ayudarte. Completa el formulario y nos pondremos en
        contacto contigo lo antes posible.
      </p>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card class="form-card">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input
                  [(ngModel)]="titulo"
                  fill="outline"
                  label="Título"
                  labelPlacement="stacked"
                  placeholder="Ej.: No puedo conectarme al wifi de la oficina"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-textarea
                  [(ngModel)]="descripcion"
                  label="Descripción del problema"
                  labelPlacement="stacked"
                  fill="outline"
                  placeholder="Proporcione tantos detalles como sea posible."
                ></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="permisos.canClassifyTypeTickets()">
                <ion-select
                  [(ngModel)]="tipo_problema"
                  label="Tipo de problema"
                  label-placement="stacked"
                  fill="outline"
                  placeholder="Seleccione una categoría"
                >
                  <ion-select-option value="critico">Crítico</ion-select-option>
                  <ion-select-option value="critico_fa"
                    >Crítico con flujo de aprobación</ion-select-option
                  >
                  <ion-select-option value="periferico"
                    >Cambio periferico</ion-select-option
                  >
                  <ion-select-option value="hardware"
                    >Cambio hardware existente</ion-select-option
                  >
                  <ion-select-option value="hardware_fa"
                    >Cambio hardware con flujo de aprobación</ion-select-option
                  >
                  <ion-select-option value="cuentas"
                    >Creación de cuentas, correos, varios</ion-select-option
                  >
                  <ion-select-option value="impresoras"
                    >Revisión / Cambio / Mantención de
                    impresoras</ion-select-option
                  >
                  <ion-select-option value="info_bd"
                    >Solicitud información base de datos</ion-select-option
                  >
                  <ion-select-option value="inst_software"
                    >Instalación de programas</ion-select-option
                  >
                  <ion-select-option value="red"
                    >Instalación puntos de red</ion-select-option
                  >
                  <ion-select-option value="camara"
                    >Instalación de cámaras</ion-select-option
                  >
                  <ion-select-option value="wifi"
                    >Instalación de antenas WiFi</ion-select-option
                  >
                  <ion-select-option value="internet"
                    >Habilitación de acceso a internet</ion-select-option
                  >
                </ion-select>
              </ion-col>
              <ion-col>
                <ion-select
                  [(ngModel)]="prioridad"
                  label="Prioridad"
                  label-placement="stacked"
                  fill="outline"
                  placeholder="Seleccione un nivel de prioridad"
                >
                  <ion-select-option value="alta">Alta</ion-select-option>
                  <ion-select-option value="media">Media</ion-select-option>
                  <ion-select-option value="baja">Baja</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  [(ngModel)]="dispositivo"
                  fill="outline"
                  label="Dispositivo afectado"
                  labelPlacement="stacked"
                  placeholder="Ej.: Dell Laptop, iPhone 13 Pro, etc."
                ></ion-input>
              </ion-col>
            </ion-row>
            <!--
    <ion-row>
      <ion-col>
        <ion-item button lines="full">
          <ion-grid>
            <ion-row>
              <ion-label>
                <p>Adjuntar archivo</p>
              </ion-label>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-img src="assets/icon/anadir-doc.png"></ion-img>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-label>
                <p>Suba un archivo o arrastre y suelte aquí</p>
              </ion-label>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-label>
                <p>PNG, JPG, PDF hasta 5MB.</p>
              </ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
    -->
            <ion-row class="ion-justify-content-end">
              <ion-button (click)="crearTicket()">ENVIAR SOLICITUD</ion-button>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
