<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-img src="assets/stickers/soporte-ti-rucaray.png"></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        <h1>Soporte TI - Rucaray</h1>
      </ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <p>¡Bienvenido de nuevo! Inicia sesión en tu cuenta.</p>
    </ion-row>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col>
              <ion-input
                fill="outline"
                label="Nombre de usuario"
                labelPlacement="stacked"
                placeholder="Ingrese su nombre de usuario"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col>
              <ion-input
                fill="outline"
                label="Contraseña"
                labelPlacement="stacked"
                placeholder="Ingrese su contraseña"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-checkbox labelPlacement="end">Recuerdame</ion-checkbox>
            <ion-button fill="clear">¿Has olvidado tu contraseña?</ion-button>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" routerLink="/panel-principal">INICIAR SESIÓN</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
