<ion-header>
  <app-header [mostrarBackButton]="true"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-breadcrumbs>
          <ion-breadcrumb>Tickets</ion-breadcrumb>
          <ion-breadcrumb>Ticket N° {{ ticket?.id_ticket }}</ion-breadcrumb>
        </ion-breadcrumbs>
        <ion-text>
          <h1>{{ ticket?.titulo }} | {{ ticket?.dispositivo }}</h1>
        </ion-text>
        <p>
          Reportado por {{ticket?.nombre_usuario}} {{ticket?.apellido_usuario}}
          | {{ ticket?.departamento_usuario }} | {{ ticket?.puesto_usuario }}
        </p>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Detalles del ticket</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-margin-bottom">
                <ion-col>
                  <strong>DESCRIPCIÓN</strong>
                  <p>{{ticket?.descripcion}}</p>
                </ion-col>
                <ion-col>
                  <strong>CATEGORÍA</strong>
                  <p>{{ capitalize(ticket?.tipo_problema) }}</p>
                </ion-col>
              </ion-row>
              <ion-row class="ion-margin-bottom">
                <ion-col>
                  <strong class="ion-display-block">ESTADO</strong>
                  <ion-chip [color]="getColorEstado(ticket?.estado)"
                    >{{ capitalize(ticket?.estado) }}</ion-chip
                  >
                </ion-col>
                <ion-col>
                  <strong class="ion-display-block">PRIORIDAD</strong>
                  <ion-chip [color]="getColorPrioridad(ticket?.prioridad)"
                    >{{ capitalize(ticket?.prioridad) }}</ion-chip
                  >
                </ion-col>
              </ion-row>
              <!--
              <ion-row>
                <ion-col>
                  <p>ASIGNADO A</p>
                  <p>Equipo Soporte TI</p>
                </ion-col>
              </ion-row>
              -->
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Feed de actividades</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none" *ngFor="let item of feed">
                <ion-grid>
                  <ion-row class="ion-align-items-center">
                    <!-- Icono o avatar según tipo -->
                    <ion-col size="auto">
                      <ng-container *ngIf="!esComentario(item); else avatar">
                        <ion-icon
                          [name]="getIconoActividad(item.tipo)"
                          size="large"
                        ></ion-icon>
                      </ng-container>
                      <ng-template #avatar>
                        <ion-avatar>
                          <img
                            alt=""
                            src="https://ionicframework.com/docs/img/demos/avatar.svg"
                          />
                        </ion-avatar>
                      </ng-template>
                    </ion-col>

                    <!-- Detalle de actividad o comentario -->
                    <ion-col>
                      <ion-label>{{ item.detalle || item.tipo }}</ion-label>
                      <ion-note>
                        {{ item.nombre_usuario }} {{ item.apellido_usuario }}
                      </ion-note>
                    </ion-col>

                    <!-- Fecha -->
                    <ion-col size="auto">
                      <ion-note
                        >{{ item.fecha | date:'dd-MMM-yyyy HH:mm' }}</ion-note
                      >
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Añadir comentario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <ion-avatar
                    ><img
                      alt=""
                      src="https://ionicframework.com/docs/img/demos/avatar.svg"
                  /></ion-avatar>
                </ion-col>
                <ion-col>
                  <ion-textarea
                    [(ngModel)]="nuevoComentario"
                    [autoGrow]="true"
                    fill="outline"
                    placeholder="Añadir un comentario..."
                  ></ion-textarea>
                  <ion-row
                    class="ion-justify-content-end ion-align-items-center"
                  >
                    <!--<ion-button fill="clear" size="large"><ion-icon name="attach-outline"></ion-icon></ion-button>-->
                    <ion-button (click)="agregarComentario()">ENVIAR</ion-button>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Acciones de tickets</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block">CERRAR TICKET</ion-button>
            <ion-button expand="block" fill="clear"
              >REASIGNAR TICKET</ion-button
            >
            <ion-button expand="block" fill="clear">ESCALAR TICKET</ion-button>
          </ion-card-content>
        </ion-card>
        <!--
        <ion-card>
          <ion-card-header>
            <ion-card-title>Archivos adjuntos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item button class="item-adjunto">
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-text>
                    <h2>Sin archivos adjuntos</h2>
                  </ion-text>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <p>
                    Arrastre y suelte archivos aquí, o navegue para cargarlos
                  </p>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-text class="ion-text-center" color="primary">
                    Buscar archivos
                  </ion-text>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-content>
        </ion-card>
        -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
