<ion-header>
  <app-header [mostrarBackButton]="false"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        <h1>Bienvenido, {{nombreUsuario}}</h1>
      </ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <p>¿Cómo podemos ayudarle hoy?</p>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <!--Tarjeta I — Crear Ticket-->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-accion">
          <ion-item
            button
            detail="false"
            routerLink="/nuevo-ticket"
            lines="none"
          >
            <ion-card-header class="ion-text-center">
              <ion-card-title>CREAR TICKET</ion-card-title>
              <ion-card-subtitle>
                Presiona aquí para crear un nuevo ticket de soporte
              </ion-card-subtitle>
            </ion-card-header>
            <ion-img
              class="img-sticker"
              src="assets/stickers/soporte-ti.png"
              alt="Crear nueva orden de trabajo"
            ></ion-img>
          </ion-item>
        </ion-card>
      </ion-col>

      <!--Tarjeta II — Historial de Solicitudes-->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-accion">
          <ion-item
            button
            detail="false"
            routerLink="/mis-tickets"
            lines="none"
          >
            <ion-card-header class="ion-text-center">
              <ion-card-title>HISTORIAL DE TICKETS</ion-card-title>
              <ion-card-subtitle>
                Presiona aquí para ver el historial de tus solicitudes de soporte
              </ion-card-subtitle>
            </ion-card-header>
            <ion-img
              class="img-sticker"
              src="assets/stickers/historial-tickets.png"
              alt="Historial de tickets"
            ></ion-img>
          </ion-item>
        </ion-card>
      </ion-col>

      <!--Tarjeta III — Agenda de Mantenciones-->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-accion">
          <ion-item
            button
            detail="false"
            routerLink="/agenda-mantenimiento"
            lines="none"
          >
            <ion-card-header class="ion-text-center">
              <ion-card-title>AGENDA DE MANTENCIONES</ion-card-title>
              <ion-card-subtitle>
                Presiona aquí para ver y gestionar las mantenciones programadas
              </ion-card-subtitle>
            </ion-card-header>
            <ion-img
              class="img-sticker"
              src="assets/stickers/agenda-mantenimiento.png"
              alt="Agenda de mantenciones"
            ></ion-img>
          </ion-item>
        </ion-card>
      </ion-col>

      <!--Tarjeta IV — Dispositivos Informáticos-->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-accion">
          <ion-item
            button
            detail="false"
            routerLink="/listado-dispositivos"
            lines="none"
          >
            <ion-card-header class="ion-text-center">
              <ion-card-title>DISPOSITIVOS</ion-card-title>
              <ion-card-subtitle>
                Presiona aquí para ver el inventario de dispositivos
                informáticos
              </ion-card-subtitle>
            </ion-card-header>
            <ion-img
              class="img-sticker"
              src="assets/stickers/dispositivos.png"
              alt="Dispositivos informáticos"
            ></ion-img>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
