<ion-header>
  <app-header [mostrarBackButton]="false"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        <h1>Bienvenido, {{nombreUsuario}}</h1>
      </ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <p>¿Cómo podemos ayudarle hoy?</p>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      
      <!--Tarjeta I-->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-accion">
          <ion-item
            button
            detail="false"
            routerLink="/nuevo-ticket"
            lines="none"
          >
            <ion-card-header class="ion-text-center">
              <ion-card-title>CREAR TICKET</ion-card-title>
              <ion-card-subtitle>
                Presiona aquí para crear un nuevo ticket de soporte
              </ion-card-subtitle>
            </ion-card-header>
            <ion-img
              class="img-sticker"
              src="assets/stickers/soporte-ti.png"
              alt="Crear nueva orden de trabajo"
            ></ion-img>
          </ion-item>
        </ion-card>
      </ion-col>

      <!--Tarjeta II-->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-accion">
          <ion-item
            button
            detail="false"
            routerLink="/mis-tickets"
            lines="none"
          >
            <ion-card-header class="ion-text-center">
              <ion-card-title>HISTORIAL DE SOLICITUDES</ion-card-title>
              <ion-card-subtitle>
                Presiona aquí para ver el historial de tus tickets
              </ion-card-subtitle>
            </ion-card-header>
            <ion-img
              class="img-sticker"
              src="assets/stickers/historial-tickets.png"
              alt="Crear nueva orden de trabajo"
            ></ion-img>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
